.body {
  h1 {
    font-size: 42px;
    font-weight: 500;
    color: black;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: circeLight;
    color: #3333ff;
    line-height: 34px;
    font-style: italic;
  }

  .text{
    font-size: 18px;
    font-weight: 500;
    font-family: circeLight;
    color: #7d7d7d;
    line-height: 34px;
  }
}